<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Layout</title>
    </head>

    <body>
        <h1>CSS Layout</h1>
        <h2>Box-sizing property example</h2>

        <!-- box content-->
        <div class="box-content">
            <p>Content</p>
        </div>
        <br>
         <!-- box border-->
        <div class="box-border">
            <p>Border Box</p>
        </div>
        <br><br>

        <!-- Display property Example-->
        <h2>Display Porperty Example</h2>

        <div class="block">Block Element</div>

        <span class="inline">Inline</span>
        
        <div class="inline-block">Inline-Block Element</div>
        <br><br>

        <!-- Positioning Elements Example-->
        <h2>Positioning Elements Example</h2>

        <div class="sticky">Sticky Position</div>

        <div class="static">Static Position</div>

        <div class="relative">Relative Position</div>

        <div class="absolute">Absolute Position</div>

        <div class="fixed">Fixed Position</div>
        <br><br>

        <!-- Positioning Elements Example-->
        <h2>Floats and Clearing Floats Example</h2>

        <div>
            <div class="float-right">Float Right</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt qui nesciunt sit quisquam recusandae hic atque veniam reprehenderit. Illo fugit quam asperiores quisquam repudiandae totam aut aperiam ipsum animi sed in placeat maxime atque nostrum eveniet, amet numquam commodi officiis molestias veritatis rerum! Incidunt, blanditiis quisquam! Quisquam ad obcaecati libero?
        </div>

        <div>
            <div class="float-left">Float Left</div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sunt perferendis libero? Numquam fugit provident magnam facilis possimus minima? Nihil nam earum doloremque, modi, quibusdam eveniet facere sint quam vel beatae quidem cum aspernatur corporis sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, repudiandae!

            <div class="clear-floats">Clear Floats</div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsum laboriosam, similique odio optio voluptate magni, sed natus maxime saepe omnis. Molestias voluptatum unde harum pariatur velit accusamus, tempora, perferendis aperiam aliquam iusto esse nemo ipsa non fugiat iure odio et laboriosam laudantium vero dignissimos ratione inventore. Provident, aut repellendus?


        </div>

        <!--Centering Elements Examples-->
        <h2>Centering Elements Example</h2>

        <div class="parent-box">

            <div class="center-horizontal">
                <p>This box is horizontally centered.</p>
            </div>

        </div>

        <div class="parent-box center-vertical">
            <div>
                <p>This text is vertically centered</p>
            </div>
        </dvi>

        <div class="parent-box center-horizontal-vertical">
            <div>
                <p>This text is vertically and horizontally centered</p>
            </div>
        </dvi>



        <!-- These breaks make the sticky position work-->
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </body>

</html>
