@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.section{
    background-color: bisque;
}

.section-container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    letter-spacing: 2px;
    color:black;
    font-weight: 600;
    margin-bottom: .5rem;
}

.title{
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 3rem;
    color: black;
    margin-bottom: 1rem;
}

.description{
    line-height: 1.5rem;
    color: black;
    margin-bottom: 2rem;
}

.action_btn{
    display: flex;
    gap: 1rem;
}

.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 1px solid;
    border-radius: 30px;
}

.hire_me{
    background-color: purple;
    color: black;

}

.hire_me:hover{
    background-color: blue;
    color: white;
}

.portfolio{
    color: black;
}

.portfolio:hover{
    background-color: blue;
    color: white;
}

.image{
    display: grid;
    place-items: center;
}

.image img{
    width: min(25rem, 90%);
    border-radius: 100%;

}

.section-container{
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
}

.image{
    grid-area: 1/1/2/2;
}

.action_btns{
    margin: auto;
}